* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: DM Sans;
}

.top {
    margin: auto;
    width: 300px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D3573C;
}

.header_navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    color: #901C1C;
}

.logo {
    width: 340px;
    height: auto;
    padding: 20px;
}

.main-navbar a  {
    color: #901C1C;
    margin-top: 10px;
    border: solid 0.5px #C4C4C4;
    border-radius:  25px;
    padding: 4px;
    margin: 10px;
}




.navbar-photographe {
    padding: 20px;
    padding-left: 100px;
    font-size: 35px;
    font-weight : normal;
}


a:link 
{ 
 text-decoration:none; 
 color: #901C1C;
 font-weight: bolder;
 font-size: 12px;
} 


#photographe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#figureImgP2 {
    width: 1320px;
    height: 313px;
    display: flex;
    margin: 40px;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
}

figure {
    margin: 40px;
    text-align: center;
}

#imageProfile {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
}

#imageProfile2{
    order: 3;
    margin-left: 350px;
}

h1:not(.h1Contenu) {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #D3573C;
}

h2{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #901C1C;
    display: inline;
    margin-bottom: 3px;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    margin-bottom: 3px;
}

h5{
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    color: #757575;
    margin-bottom: 3px;
}

h3{
    font-style: normal;
    font-size: 12px;
    color: #901C1C;
    border: solid 1px #C4C4C4;
    border-radius: 25px;
    display: inline;
    margin: 3px;
    padding: 3px;
}

#idInfosP2{
    text-align: left;
}

#idInfosP2 h1:not(.navbar-photographe) {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    color: #D3573C;
}

#idInfosP2 h2{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #901C1C;
    display: inline;
    margin-bottom: 3px;
}

#idInfosP2 p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 3px;
}

#idInfosP2 h5{
    display: none;
}

#idInfosP2 h3{
    font-style: normal;
    font-size: 18px;
    color: #901C1C;
    border: solid 1px #C4C4C4;
    border-radius: 25px;
    display: inline;
    margin: 3px;
    padding: 3px;
}

div img:not(.logo)  {
    object-fit: cover;
    margin: 30px;
    margin-bottom: 10px;
    text-align: center;
    height: 300px;
    width: 350px;
    border-radius: 5px;
}

video {
    object-fit: cover;
    margin: 30px;
    text-align: center;
    height: 300px;
    width: 350px;
    border-radius: 5px;
}
#profilPhotographe {
    background: #FAFAFA;
    border-radius: 5px;
}

#diapo {
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
    position: fixed;
    top: 0px;
    padding: 10px;
    display: none;

}

#prev{
    font-size: 50px;
    background-color: #E5E5E5;
    color: #901C1C;
    border: none;
}

#next {
    font-size: 50px;
    background-color: #E5E5E5;
    color: #901C1C;
    border: none;
}

#imgDiapo {
    width: 930px;
    height: 620px;
    object-fit: cover;
    margin: auto;
    left: 0;
    right: 0;
}

#vidDiapo{
    width: 930px;
    height: 620px;
    object-fit: cover;
    margin: auto;
    left: 0;
    right: 0;
}

#diapoDesc{
    width: 930px;
    height: 630px;
    margin: auto;
    font-size: 24px;
    color: #901C1C;
    padding: 10px;
    padding-left: 0px;
}

.elementActive {
    /*width: 100%;
    height: 100%;*/
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
}

#close {
    background-color: #E5E5E5;
    color: #901C1C;
    border: none;
    font-size: 30px;
}


#modal-btn {
    order: 2;
    width: 170px;
    color: white;
    background-color: #901C1C;
    padding: 15px;
    margin-bottom: 10%;
    text-align: center;
    font-size: 19px;
}

/*Menu deroulant */

#divMenuDeroulant{
    margin-left:70px ;
    padding: 30px;
}
#trierPar{
    color: black;
    font-size: 18px;
    font-weight: bold;
    
    display: inline;
    margin-bottom: 3px;
}

#menuDeroulant {
    background: #911C1C;
    color: white;
    font-size: 18px;
    border-radius: 2px;
    padding: 10px;
    margin-left: 15px;
}

.menuOption{
    border-bottom: white;
}

#idCreaDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#idCarteImg, #idCarteVideo {
    display: flex;
    display: block;
    color: #901C1C;
}
#idDivP{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
}

#idDivP p {
    font-size: 22px;
}

#idPLikesImg {
    font-weight: bold;
}

#idPLikesVideo {
    font-weight: bold;
}

#LikesPrix {
    background-color: #DB8876;
    position: fixed;
    bottom: 0px;
    right: 0px;

    height: 89px;
    width: 376px;
    border-radius: 5px;

    font-weight: 500;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
    margin-right: 30px;
    padding: 30px;

    display: flex;
    justify-content: space-around;
}

.classLikeCoeur{
    display: flex;
    align-items: center;
}
.classCoeur {
    font-size: 29px;
    margin: 5px;
}


@media screen and (min-width: 0px) and (max-width: 1000px) {
    .top {
        display: none;
    }

    .logo{
        width: 180px;
        height: auto;
        padding: 0px;
    }

    .navbar-photographe {
        order: 2;
        left: 100%;
        top: 10px;
        font-size: 13px;
        padding-left: 0px;
        padding: 0px;
        margin-right: 30px;
    }

    .header_navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 15px;
    }
    .main-navbar a {
        margin: 2px;
    }

    #figureImgP2{
        width: 200px;
    }

    
    .main-navbar {
        order:3 ;
}

    .classFigure{
        margin: 0px;
    }
}    
