* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: DM Sans;
}

#centreTop{
  width:89%;
  height:50px;
  display:flex;
  justify-content:center;
}
#top {
  display:none;
  width: 182px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 25px;
  background-color: #DB8876;
  position: fixed;
  
  
}

#centreTop a{
  text-decoration: none;
  color:black;
}
.h1Contenu {
  font-size: 18px;
}

.header_navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: #901c1c;
}

.logo {
  width: 340px;
  height: auto;
  padding: 20px;
  padding-right: 50px;
}

.main-navbar a {
  color: #901c1c;
  margin-top: 10px;
  border: solid 0.5px #c4c4c4;
  border-radius: 25px;
  padding: 4px;
}

.main-navbar a:hover ,.main-navbar a:focus{
  background-color: #901C1C;
  color: #fafafa;
}

.navbar-photographe {
  padding: 20px;
  padding-left: 50px;
  font-size: 35px;
  font-weight: normal;
}

a:link {
  text-decoration: none;
  color: #901c1c;
  font-weight: bolder;
  font-size: 12px;
}

#photographe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#figureImgP2 {
  width: 1320px;
  height: 313px;
  display: flex;
  margin: 40px;
  justify-content: space-around;
  align-items: center;
  background-color: #fafafa;
}

figure {
  margin: 40px;
  text-align: center;
}

#imageProfile {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}

#imageProfile2 {
  order: 3;
  margin-left: 350px;
}

h1:not(.h1Contenu) {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #d3573c;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #901c1c;
  display: inline;
  margin-bottom: 3px;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  margin-bottom: 3px;
}

h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: #757575;
  margin-bottom: 3px;
}

h3 {
  font-style: normal;
  font-size: 12px;
  color: #901c1c;
  border: solid 1px #c4c4c4;
  border-radius: 25px;
  display: inline;
  margin: 3px;
  padding: 3px;
}

#idInfosP2 {
  text-align: left;
}

#idInfosP2 h1:not(.navbar-photographe) {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  color: #d3573c;
}

#idInfosP2 h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #901c1c;
  display: inline;
  margin-bottom: 25px;
}

#idInfosP2 p {
  color: #525252;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 25px;
  margin-top: 20px;
}

#idInfosP2 h5 {
  display: none;
}

#idInfosP2 h3 {
  font-style: normal;
  font-size: 18px;
  color: #901c1c;
  border: solid 1px #c4c4c4;
  border-radius: 25px;
  display: inline;
  margin: 3px;
  padding: 3px;
}

div img:not(.logo) {
  object-fit: cover;
  margin: 30px;
  margin-bottom: 10px;
  text-align: center;
  height: 300px;
  width: 350px;
  border-radius: 5px;
}

video {
  object-fit: cover;
  margin: 30px;
  margin-bottom: 10px;
  text-align: center;
  height: 300px;
  width: 350px;
  border-radius: 5px;
}
#profilPhotographe {
  background: #fafafa;
  border-radius: 5px;
}

#diapo {
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  position: fixed;
  top: 0px;
  padding: 10px;
  display: none;
}

#prev {
  font-size: 50px;
  background-color: #e5e5e5;
  color: #901c1c;
  border: none;
}

#next {
  font-size: 50px;
  background-color: #e5e5e5;
  color: #901c1c;
  border: none;
}

#imgDiapo {
  max-width: 930px;
  height: 620px;
  width: 80%;
  object-fit: cover;
  margin: auto;
  left: 0;
  right: 0;
}

#vidDiapo {
  width: 930px;
  height: 620px;
  object-fit: cover;
  margin: auto;
  left: 0;
  right: 0;
}

#diapoDesc {
  max-width: 930px;
  height: 630px;
  width: 80%;
  margin: auto;
  font-size: 24px;
  color: #901c1c;
  padding: 10px;
  padding-left: 0px;
}

.elementActive {
  /*width: 100%;
    height: 100%;*/
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
}

#close {
  background-color: #e5e5e5;
  color: #901c1c;
  border: none;
  font-size: 30px;
}

#modal-btn {
  order: 2;
  width: 170px;
  color: white;
  background-color: #901c1c;
  padding: 15px;
  margin-bottom: 10%;
  text-align: center;
  font-size: 19px;
  border-radius: 5px;
}
#modal-btn:hover, #menuDeroulant:hover{
  background-color: #db8876;
  color: black;
} 

/*Menu deroulant */

#divMenuDeroulant {
  margin-left: 70px;
  padding: 30px;
}
#trierPar {
  color: black;
  font-size: 18px;
  font-weight: bold;

  display: inline;
  margin-bottom: 3px;
}

#menuDeroulant {
  background: #911c1c;
  color: white;
  font-size: 18px;
  border-radius: 2px;
  padding: 15px;
  margin-left: 15px;
  border-radius: 5px;
  border: 0px;
}


.menuOption {
  border-bottom: white;
  padding: 20px;
}

#idCreaDiv {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#idCarteImg,
#idCarteVideo {
  display: flex;
  display: block;
  color: #901c1c;
}
#idDivP {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: space-between;
}

#idDivP p {
  font-size: 22px;
}

#idPLikesImg {
  font-weight: bold;
}

#idPLikesVideo {
  font-weight: bold;
}

#LikesPrix {
  background-color: #db8876;
  position: fixed;
  bottom: 0px;
  right: 0px;

  height: 89px;
  width: 376px;
  border-radius: 5px;

  font-weight: 500;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-align: right;
  margin-right: 30px;
  padding: 30px;

  display: flex;
  justify-content: space-around;
}

.classLikeCoeur {
  display: flex;
  align-items: center;
}
.classCoeur {
  font-size: 29px;
  margin: 5px;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  #top {
    display: none;
  }

  .logo {
    width: 230px;
    height: auto;
    padding: 0px;
    padding-top: 10px;
    margin-left: -25px;
  }

  .navbar-photographe {
    order: 2;
    left: 100%;
    top: 10px;
    font-size: 13px;
    padding-left: 0px;
    padding: 0px;
    margin-right: 20px;
  }

  .header_navbar {
    display: flex;
    justify-content: space-between;
  }
  .main-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }
  .main-navbar a {
    margin: 2px;
  }

  .main-navbar {
    order: 3;
  }

  .classFigure {
    margin: 0px;
  }
}
